workflows/german_equity_research_agent.json
{
  "name": "German Equity Research Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "e3b5e4c0-1234-4a56-b789-0abcdef12345",
      "name": "When clicking \u0027Execute Workflow\u0027",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gitName",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "abc12345-def6-7890-gh12-34567890ijkl",
      "name": "Read Tickers from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ticker: {{ $json.Ticker }}\\nCompany: {{ $json.Company_Name }}\\nSector: {{ $json.Sector }}\\nFocus: {{ $json.Focus }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior equity analyst specializing in the DAX. Use Yahoo Finance for price data and Jina Reader for analyzing news sentiment. Append .DE for German stocks (e.g., SAP.DE) when querying Yahoo Finance."
        }
      },
      "id": "agent-node-123",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "model": "YOUR_MODEL_CHOICE",
        "options": {}
      },
      "id": "llm-node-123",
      "name": "LLM Brain (Gemini/Anthropic)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        500
      ],
      "credentials": {
        "googleApi": {
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "name": "YahooFinance",
        "description": "Call this tool to get real-time stock data (Current price, 52w high/low). Pass the ticker symbol (must end in .DE for German stocks).",
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$fromAI(\"ticker\")}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        }
      },
      "id": "tool-yahoo-123",
      "name": "Yahoo Finance Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "name": "JinaReader",
        "description": "Call this tool to convert any URL into clean Markdown for LLM consumption. Pass the URL as the parameter.",
        "method": "GET",
        "url": "=https://r.jina.ai/{{$fromAI(\"url\")}}"
      },
      "id": "tool-jina-123",
      "name": "Jina Reader Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "name": "TavilySearch",
        "description": "AI-optimized web/news search. Call this to search the web.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$fromAI(\"query\")}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$vars.TAVILY_API_KEY}}"
            }
          ]
        }
      },
      "id": "tool-tavily-123",
      "name": "Tavily Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1140,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Tavily API Key"
        }
      }
    },
    {
      "parameters": {
        "name": "BraveSearch",
        "description": "Privacy-focused alternative web search.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$fromAI(\"query\")}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Subscription-Token",
              "value": "={{$vars.BRAVE_API_KEY}}"
            }
          ]
        }
      },
      "id": "tool-brave-123",
      "name": "Brave Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1280,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Brave API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "Structured Output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "edit-fields-123",
      "name": "Parse Structured Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Read Tickers from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tickers from Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Structured Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Brain (Gemini/Anthropic)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}